.list-filter {
  margin: 10px 0;
  padding: 0;
}

.list-filter input {
  background: rgb(44, 62, 80);
  color: #fff;
  height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 0 10px;
}

.list-filter label {
  font-size: 14px;
  margin: 0px;
  text-transform: uppercase;
  padding-right: 15px;
}
